/*Text Font*/
@font-face {
  font-family: 'Futura';
  src: url('./assets/fonts/futura/Futura-Light.eot');
  src: url('./assets/fonts/futura/Futura-Light.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/futura/Futura-Light.woff2') format('woff2'),
  url('./assets/fonts/futura/Futura-Light.woff') format('woff'),
  url('./assets/fonts/futura/Futura-Light.ttf') format('truetype'),
  url('./assets/fonts/futura/Futura-Light.svg#Futura-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura';
  src: url('./assets/fonts/futura/Futura-Book.eot');
  src: url('./assets/fonts/futura/Futura-Book.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/futura/Futura-Book.woff2') format('woff2'),
  url('./assets/fonts/futura/Futura-Book.woff') format('woff'),
  url('./assets/fonts/futura/Futura-Book.ttf') format('truetype'),
  url('./assets/fonts/futura/Futura-Book.svg#Futura-Book') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura';
  src: url('./assets/fonts/futura/Futura-Medium.eot');
  src: url('./assets/fonts/futura/Futura-Medium.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/futura/Futura-Medium.woff2') format('woff2'),
  url('./assets/fonts/futura/Futura-Medium.woff') format('woff'),
  url('./assets/fonts/futura/Futura-Medium.ttf') format('truetype'),
  url('./assets/fonts/futura/Futura-Medium.svg#Futura-Medium') format('svg');
  font-weight: 450;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura';
  src: url('./assets/fonts/futura/Futura-Demi.eot');
  src: url('./assets/fonts/futura/Futura-Demi.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/futura/Futura-Demi.woff2') format('woff2'),
  url('./assets/fonts/futura/Futura-Demi.woff') format('woff'),
  url('./assets/fonts/futura/Futura-Demi.ttf') format('truetype'),
  url('./assets/fonts/futura/Futura-Demi.svg#Futura-Demi') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura';
  src: url('./assets/fonts/futura/Futura-Heavy.eot');
  src: url('./assets/fonts/futura/Futura-Heavy.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/futura/Futura-Heavy.woff2') format('woff2'),
  url('./assets/fonts/futura/Futura-Heavy.woff') format('woff'),
  url('./assets/fonts/futura/Futura-Heavy.ttf') format('truetype'),
  url('./assets/fonts/futura/Futura-Heavy.svg#Futura-Heavy') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura';
  src: url('./assets/fonts/futura/Futura-Bold.eot');
  src: url('./assets/fonts/futura/Futura-Bold.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/futura/Futura-Bold.woff2') format('woff2'),
  url('./assets/fonts/futura/Futura-Bold.woff') format('woff'),
  url('./assets/fonts/futura/Futura-Bold.ttf') format('truetype'),
  url('./assets/fonts/futura/Futura-Bold.svg#Futura-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura';
  src: url('./assets/fonts/futura/Futura-ExtraBold.eot');
  src: url('./assets/fonts/futura/Futura-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/futura/Futura-ExtraBold.woff2') format('woff2'),
  url('./assets/fonts/futura/Futura-ExtraBold.woff') format('woff'),
  url('./assets/fonts/futura/Futura-ExtraBold.ttf') format('truetype'),
  url('./assets/fonts/futura/Futura-ExtraBold.svg#Futura-ExtraBold') format('svg');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}


/*----------------====------------------*/


/*Icon Font*/
@font-face {
  font-family: 'metaicon';
  src:  url('./assets/fonts/iconfont/metaicon.eot?6z2zn9');
  src:  url('./assets/fonts/iconfont/metaicon.eot?6z2zn9#iefix') format('embedded-opentype'),
  url('./assets/fonts/iconfont/metaicon.ttf?6z2zn9') format('truetype'),
  url('./assets/fonts/iconfont/metaicon.woff?6z2zn9') format('woff'),
  url('./assets/fonts/iconfont/metaicon.svg?6z2zn9#metaicon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'metaicon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pause:before {
  content: "\e900";
}
.icon-new-tab:before {
  content: "\e901";
}
.icon-download:before {
  content: "\e902";
}
.icon-minus:before {
  content: "\e903";
}
.icon-close:before {
  content: "\e904";
}
.icon-arrow-r:before {
  content: "\e905";
}
.icon-arrow-l:before {
  content: "\e906";
}
.icon-twitter:before {
  content: "\e907";
}
.icon-instagram:before {
  content: "\e908";
}
.icon-linkedin:before {
  content: "\e909";
}
.icon-facebook:before {
  content: "\e90a";
}
.icon-play:before {
  content: "\e90b";
}
.icon-logo:before {
  content: "\e90c";
}
.icon-dropdown:before {
  content: "\e90d";
}
.icon-folder:before {
  content: "\e90e";
}


/*----------------====------------------*/


/*General*/
* {
  margin: 0;
  padding: 0;
  line-height: normal;
}
:root {
  --progress-bar-width: 30px;
  --progress-bar-height: 30px;
}
body {
  font-family: "Futura";
  font-weight: 400;
  -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.titlebar {
  width: 100%;
  height: 32px;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  -webkit-app-region: drag;
}

.layout {
  height: 100vh;
  overflow: hidden;
}
h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 0;
}
.line-x {
  width: 100%;
  height: 1px;
  background: #fff;
}
.line-y {
  width: 1px;
  height: 20px;
  background: #fff;
  margin-left: 24px;
  margin-right: 24px;
}


/*Carousel*/
.carousel,
.carousel-inner,
.carousel-item {
  height: 100%;
}
.carousel-item {
  padding-left: 103px;
  padding-right: 103px;
}
.carousel-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 20.00%, #000 100%);
}
.carousel-img {
  width: 100%;
  min-width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  transform: translateX(0);
  transition: transform .6s ease-in-out;
}
.carousel-actions {
  position: absolute;
  display: flex;
  align-items: center;
  left: 103px;
  bottom: 86px;
  column-gap: 12px;
}
.carousel-control-prev,
.carousel-control-next {
  position: relative;
  top: auto;
  width: auto;
  bottom: 0;
  width: 24px;
  height: 24px;
  font-size: 12px;
  background: rgba(162, 122, 247, 0.20);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  opacity: 1;
  backdrop-filter: blur(35px);
}
.carousel-control-prev {
  left: auto;
}
.carousel-control-prev i {
  margin-left: -2px;
  margin-top: 1px;
}
.carousel-control-next {
  left: auto;
  right: auto;
}
.carousel-control-next i {
  margin-right: -2px;
  margin-top: 1px;
}
.carousel-control-prev:hover,
.carousel-control-next:hover {
  background: rgba(162, 122, 247, 1);
}

.carousel-item-next:not(.carousel-item-start),
.active.carousel-item-end {
  transform: none;
}

.carousel-item-prev:not(.carousel-item-end),
.active.carousel-item-start {
  transform: none;
}
.carousel-item-next:not(.carousel-item-start) .carousel-img,
.active.carousel-item-end  .carousel-img {
  transform: translateX(100%);
}

.carousel-item-prev:not(.carousel-item-end) .carousel-img,
.active.carousel-item-start .carousel-img {
  transform: translateX(-100%);
}
.carousel-indicators {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 12px;
  left: auto;
  right: auto;
  bottom: 0;
  margin: 0;
}
.carousel-indicators button[data-bs-target] {
  width: 6px;
  height: 6px;
  border: none;
  border-radius: 50%;
  opacity: 1;
  margin-left: 0;
  margin-right: 0;
}
.carousel-indicators button.active {
  background: #A27AF7;
  box-shadow: 0px 0px 5px #A27AF7;
}
.carousel-container {
  height: inherit;
  position: relative;
  overflow: hidden;
}
.carousel-caption {
  bottom: 134px;
  left: 0;
  right: auto;
  text-align: left;
  padding: 0;
  z-index: 1;
}
.carousel-ttl {
  padding-bottom: 24px;
  overflow: hidden;
}
.carousel-ttl h5 {
  font-size: 22px;
  font-weight: 600;
  transition: transform 1.5s ease-in-out;
}
.carousel-txt {
  padding-top: 24px;
  overflow: hidden;
  min-height: 60px;
}
.carousel-txt p {
  font-size: 14px;
  transition: transform 1.5s ease-in-out;
}
.carousel-item-next:not(.carousel-item-start) .carousel-ttl h5,
.active.carousel-item-end  .carousel-ttl h5,
.carousel-item-prev:not(.carousel-item-end) .carousel-ttl h5,
.active.carousel-item-start .carousel-ttl h5 {
  transform: translateY(800%);
  transition: transform 1s ease-in-out;
}
.carousel-item-next:not(.carousel-item-start) .carousel-txt p,
.active.carousel-item-end  .carousel-txt p,
.carousel-item-prev:not(.carousel-item-end) .carousel-txt p,
.active.carousel-item-start .carousel-txt p {
  transform: translateY(-800%);
  transition: transform 1s ease-in-out;
}

/*Event Slider*/
.event-ttl {
  margin-top: 5px;
  margin-left: 25px;
  padding: 1px 1px 4px;
  /* background: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(15px); */
  font-size: 22px;
  display: inline-block;
  color: #fff;
  margin-bottom: 0;
}

.event-slider{
  padding: 12px 0 24px;
  height: 100%;
}

#tns1-iw {
  margin-left: 40px!important;
}

.tns-item {
  border-radius: 10px;
}

.tns-box {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border-radius: 10px;
}

.tns-box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 50%, rgba(0, 0, 0, 0.50) 100%);
  opacity: 0;
  transition: opacity .1s ease-in-out;
}

.tns-box img{
  width: 100%;
  height: 100px;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.50);
}

.tns-control {
  left: auto;
  right: 42px;
  bottom: 0px;
}

.event-status {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  padding: 0 8px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}

.event-status.live {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 4px;
  background-color: #F77A7A;
}

.event-status.live span {
  width: 3px;
  height: 3px;
  min-width: 3px;
  border-radius: 50%;
  background-color: #fff;
}

.event-status.upcoming {
  background-color: #A27AF7;
}

.event-name {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  padding: 6px 8px 6px 12px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: all .1s ease-in-out;
}

.tns-box:hover .event-name {
  transform: translateY(0%);
}

.tns-box:hover:before {
  opacity: 1;
}

.event-modal .modal-header {
  height: 260px;
  filter: blur(100px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-position: center center;
  background-size: cover;
}

.event-modal .modal-body {
  padding-top: 45px;
}

.event-modal_content {
  padding-right: 82px;
  padding-left: 82px;
  padding-top: 12px;
  position: relative;
}

.event-modal .btn-close {
  position: absolute;
  top: 0;
  right: 0;
}

.event-modal_cover {
  width: 400px;
  height: 200px;
  border-radius: 10px;
  margin-bottom: 24px;
}

.event-modal_name {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 24px;
  color: #fff;
}

.event-modal_text {
  font-size: 18px;
  font-weight: 450;
  max-width: 405px;
  color: #fff;
  margin-bottom: 24px;
}

.event-modal_actions {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.event-modal_author {
  font-size: 18px;
  font-weight: 450;
  color: #fff;
}

.event-modal_status {
  font-size: 18px;
  font-weight: 450;
  color: #F77A7A;
}

.event-modal_time {
  font-size: 18px;
  font-weight: 450;
  color: #fff;
}

.event-modal_price,
.event-modal_prize,
.event-modal_ticket {
  display: flex;
  align-items: center;
}

.event-modal_coin {
  font-size: 18px;
  font-weight: 450;
  color: #fff;
  display: flex;
  align-items: center;
  column-gap: 3px;
}

.event-modal_prize,
.event-modal_ticket {
  display: flex;
  align-items: center;
  column-gap: 6px;
}

.event-modal_button {
  text-align: center;
  margin-top: 36px;
}

.event-modal_button sup {
  top: 0;
}


/*Layer*/
.layer {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
}
.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/*Header*/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
  padding-left: 24px;
  padding-right: 24px;
}


/*Update Progress*/
.progress-area {
  width: 145px;
  height: 36px;
  border-radius: 0px 20px 20px 0px;
  background: rgba(0, 0, 0, 0.50);
  backdrop-filter: blur(15px);
  padding: 11px 12px 11px 18px;
  display: flex;
  align-items: center;
  column-gap: 9px;
  margin-top: 10px;
  transform: translateX(-110%);
  transition: transform .3s ease-in-out;
}
.progress-area.show {
  transform: translateX(0);
}
.progress-area button {
  border: none;
  background-color: transparent;
  line-height: 14px;
}
.progress-area button i {
  color: #fff;
  font-size: 10px;
  transition: color .3s ease-in-out;
}
.progress-area button:hover i {
  color: #A27AF7;
}
.progress-area .progress {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 11px;
  padding: 1px;
  height: 14px;
}
.progress-area .progress-bar {
  border-radius: 11px;
  background-color: #fff;
}

/*Navbar*/
.navbar-container {
  display: flex;
  align-items: center;
  /* column-gap: 33px; */
}
.navbar {
  flex: 1;
  padding: 0;
}
.navbar-brand {
  padding: 0;
}
.navbar-expand {
  padding-right: 80px;
}
.navbar-brand i {
  font-size: 40px;
  color: #fff;
}
.navbar-toggler {
  color: #fff;
  padding: 0;
  margin-top: -4px;
  margin-right: 4px;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.navbar-layout {
  border-radius: 18px;
  background: rgba(0, 0, 0, 0.50);
  box-shadow: 0px 2px 10px 0px #000;
  display: flex;
  align-items: center;
}
.navbar-nav {
  backdrop-filter: blur(15px);
  border-radius: 18px;
}
.nav-link {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  padding: 13px 8px!important;
  background: transparent;
  border: none;
}
.nav-link:focus,
.nav-link:active {
  color: #fff;
}
.nav-link:hover {
  color: #A27AF7;
}
.nav-link:focus-visible {
  outline: none;
}
.nav-link i {
  font-size: 6px;
}
.nav-item:first-child {
  border-radius: 18px;
}
.nav-item:first-child .nav-link {
  padding-left: 16px!important;
  border-radius: 18px 0 0 18px;
}
.nav-item:last-child .nav-link {
  padding-right: 16px!important;
}
.navbar-layout .dropdown .nav-link {
  color: #fff;
}
.navbar-layout .dropdown .nav-link.dropdown-toggle {
  padding: 6px 32px 6px 16px!important;
  transition: none;
}
.nav-link.dropdown-toggle:after {
  content: "\e90d";
  font-family: "metaicon";
  border: none;
  font-size: 6px;
  position: relative;
  top: 2px;
  transition: transform .3s ease-in-out;
}
.navbar-layout .dropdown .nav-link.dropdown-toggle.show:after {
  transform: rotate(-180deg);
}
.navbar-layout .dropdown {
  padding: 7px 0;
  border-radius: 0 18px 18px 0;
  background: linear-gradient(151deg, #A27AF7 0%, #9538BF 100%);
  color: #fff;
}
.nav-item:hover .nav-link {
  color: #A27AF7;
}
.navbar-layout .dropdown-menu {
  border-radius: 9px;
  background: rgba(162, 122, 247, 0.50);
  backdrop-filter: blur(15px);
  padding: 0;
  overflow: hidden;
  margin-top: 6px;
  border: none;
}
.navbar-layout .dropdown-menu .dropdown-item,
.navbar-layout .dropdown-menu .dropdown-item:focus,
.navbar-layout .dropdown-menu .dropdown-item:active {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  padding: 6px 12px;
  background: transparent;
}
.navbar-layout .dropdown-menu .dropdown-item:hover {
  background: rgba(0, 0, 0, 0.50);
}

/*Action*/
.action {
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.50);
  box-shadow: 0px 2px 10px 0px #000;
  backdrop-filter: blur(15px);
  padding: 8px;
  display: flex;
  align-items: center;
  column-gap: 17px;
}
.action .btn,
.action .btn:focus,
.action .btn:active {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 8px;
  padding: 6px;
  opacity: 1;
  border: none;
  box-shadow: none;
}
.action .btn-danger {
  background: rgba(247, 122, 122, .5);
}
.action .btn-success {
  background: rgba(122, 247, 134, .5);
}
.action .btn-danger:hover {
  background: rgba(247, 122, 122, 1);
  box-shadow: 0px 0px 5px 0px #F77A7A;
}
.action .btn-success:hover {
  background: rgba(122, 247, 134, 1);
  box-shadow: 0px 0px 5px 0px #7AF786;
}


/*Footer*/
.footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  column-gap: 52px;
  padding-bottom: 18px;
  padding-left: 24px;
  padding-right: 24px;
}
.version {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 50px;
  min-height: 50px;
}
.version-note {
  font-size: 18px;
  font-weight: 450;
  color: #fff;
}
.version-current {
  font-size: 14px;
  color: #fff;
  opacity: .5;
}
.version-btn.btn {
  background: linear-gradient(135deg, rgba(162, 122, 247, .5) 0%, rgba(	100, 229, 244, .5) 100%);
  padding: 6px;
  border-radius: 30px;
  border: none;
  transition: padding .15s ease-in-out, transform .15s ease-in-out;
  /*min-width: 144px;*/
  /*min-height: 50px;*/
  color: #fff;
}
.version-btn.btn:hover {
  padding: 4px;
  transform: translateX(-1.4px);
  /*min-width: 140px;*/
  /*min-height: 46px;*/
}
.version-btn.btn:focus,
.version-btn.btn:active {
  padding: 0;
  transform: translate(-6px, -0.5px);
  /*min-width: 132px;*/
  /*min-height: 38px;*/
  box-shadow: none;
}
.version-btn_content {
  background: linear-gradient(135deg, #A27AF7 0%, #64E5F4 100%);
  border-radius: 20px;
  width: 100%;
  min-height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 12px;
  font-size: 22px;
  font-weight: 600;
  padding: 4px 14px 4px 4px;
}
.version-icon {
  width: 30px;
  min-width: 30px;
  height: 30px;
  border-radius: 30px;
  border: 2px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.version-icon i {
  font-size: 12px;
}
.version-icon i.icon-download {
  margin-top: 2px;
}
.version-icon i.icon-play {
  margin-left: 2px;
}

/*Progress*/
.circular-progress {
  width: var(--progress-bar-width);
  height: var(--progress-bar-height);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner-circle {
  position: absolute;
  width: calc(var(--progress-bar-width) - 4px);
  height: calc(var(--progress-bar-height) - 4px);
  border-radius: 50%;
  background: linear-gradient(135deg, rgba(162, 122, 247, 1) 0%, rgba(	100, 229, 244, 1) 100%);
}

.percentage {
  position: relative;
  font-size: 13px;
}


/*Social*/
.social {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 24px;
}
.social a {
  text-decoration: none;
  color: #fff;
  transition: color .15s ease-in-out;
}
.social i {
  font-size: 24px;
}
.social a:hover {
  color: #A27AF7;
}


/*Modal*/
.modal-footer>* {
  margin: 0;
}
.modal-header {
  display: flex;
  align-items: center;
  border: none;
  padding: 44px 36px;
}
.modal-title {
  flex: 1;
  text-align: center;
  color: #fff;
  font-size: 22px;
  font-weight: 600;
}
.modal-content {
  background: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(10px);
  display: none;
}

.modal-content[data-active]{
  display: flex;
}

.modal .btn-close {
  background: none;
  color: #fff;
  opacity: 1;
  font-size: 10px;
  box-shadow: none;
}
.modal-footer {
  justify-content: center;
  border: none;
  color: rgba(255, 255, 255, .5);
  font-size: 16px;
  font-weight: 300;
  padding: 24px 36px;
}
.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 24px;
}
.modal-nav {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
  row-gap: 5px;
}
.modal-nav li {
  text-align: center;
  /* min-height: 50px; */
}
.decorated {
  padding-bottom: 19px;
}
.modal-btn.btn {
  background: linear-gradient(151deg, rgba(162, 122, 247, .5) 0%, rgba(149, 56, 191, .5) 100%);
}
.modal-btn.btn:hover {
  transform: translate(0px, 3px);
}
.modal-btn.btn:focus,
.modal-btn.btn:active {
  transform: translate(0px, 6px);
}
.modal-btn .version-btn_content {
  font-size: 14px;
  font-weight: 400;
  padding: 5px 24px;
  background: linear-gradient(151deg, rgba(162, 122, 247, 1) 0%, rgba(149, 56, 191, 1) 100%);
}
.modal-btn-link,
.modal-btn-link:focus {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  box-shadow: none;
}
.modal-btn-link:hover {
  color: #fff;
}
.connect-content {
  margin-top: 23px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.connect-content_ttl {
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
}

.connect-content_label {
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  display: block;
  margin-bottom: 10px;
  color: rgba(255,255,255, .5);
}
.button-height {
  height: 36px;
}
.modal-btn .confirm-btn_content {
  font-size: 14px;
  font-weight: 400;
  padding: 5px 24px;
  min-height: 24px;
  border-radius: 30px;
  background: linear-gradient(151deg, rgba(162, 122, 247, 1) 0%, rgba(149, 56, 191, 1) 100%);
}
.confirm-btn.btn {
  background: linear-gradient(135deg, rgba(162, 122, 247, .5) 0%, rgba(149, 56, 191, .5) 100%);
  padding: 6px;
  border-radius: 30px;
  border: none;
  transition: padding .15s ease-in-out, transform .15s ease-in-out;
  /*min-width: 144px;*/
  /*min-height: 50px;*/
  color: #fff;
}
.confirm-btn.btn:hover {
  padding: 4px;
  transform: translateY(1px);
  /*min-width: 140px;*/
  /*min-height: 46px;*/
}
.confirm-btn.btn:focus,
.confirm-btn.btn:active {
  padding: 0;
  transform: translate(0px, 0px);
  /*min-width: 132px;*/
  min-height: 28px;
  box-shadow: none;
}
.custom-file {
  min-width: 329px!important;
  height: 24px;
  background-color: rgba(162, 122, 247, 0.20);
  border: none;
  border-radius: 30px!important;
  color: rgba(255, 255, 255, 0.50);
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  padding: 3px 12px;
}

.custom-file[readonly]
{
  background-color: rgba(162, 122, 247, 0.20);;
}

.custom-file::-webkit-file-upload-button {
  visibility: hidden;
}
.modal-form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.modal-form .input-group {
  position: relative;
}
.modal-form .input-group i {
  position: absolute;
  top: 0;
  right: 0;
  color: rgba(255,255,255, .5);
  margin: 3px 12px;
}
.modal-form .input-group input:focus {
  color: rgba(255, 255, 255, 0.50);
  background-color: rgba(162, 122, 247, 0.20);
  box-shadow: none;
}
.modal-form .form-label {
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  margin-left: 12px;
  color: #fff;
  margin-bottom: 0;
}
.modal-form .form-text {
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  color: #A27AF7;
  margin-left: 12px;
  margin-top: 0;
}


/*Responsive*/
@media (max-width: 400px) {
  .header {
      align-items: flex-start;
      z-index: 2;
  }
  .navbar-layout {
      flex-direction: column;
      align-items: flex-start;
      border-radius: 0;
  }
  .navbar-nav {
      margin: 0!important;
      width: 100%;
  }
  .navbar-layout .dropdown .nav-link.dropdown-toggle {
      border: none;
      padding: 13px 16px 13px 8px!important;
  }
  .navbar-layout .dropdown:hover .nav-link.dropdown-toggle {
      background: linear-gradient(151deg, #A27AF7 0%, #9538BF 100%);
  }
  .navbar-layout .dropdown:hover {
      background: transparent;
  }
  .navbar-layout .dropdown-menu {
      position: relative;
      border-radius: 0;
      margin-top: 0;
      padding-left: 20px;
  }
  .nav-item:first-child .nav-link {
      padding-left: 8px!important;
  }
  .nav-item:first-child .nav-link {
      border-radius: 0;
  }
  .nav-link {
      width: 100%;
      text-align: left;
  }
  .navbar-layout .dropdown {
      width: 100%;
      border-radius: 0;
      padding: 0;
  }
}

.update_panel{
  gap: 8px;
  align-items: center;
  display: none;
}

.update_panel[data-active]{
  display: flex;
}

.icon-folder{
  cursor: pointer;
}